<div class="row">
  <div class="col text-center">
    <div class="content" fxLayout="row" fxLayoutAlign="center">

      <mat-card elevation="5" fxFlex>

        <mat-card-title>
          <h2>{{ title }}</h2>
        </mat-card-title>

        <mat-card-content>
          <form *ngIf="!submitted" [formGroup]="form" (ngSubmit)="onSubmit()" #postForm="ngForm">
            <mat-grid-list cols="3" rowHeight="100px">
              <mat-grid-tile>
                <mat-form-field>
                  <input matInput formControlName="title" placeholder="Post title">
                </mat-form-field>
              </mat-grid-tile>
              <mat-grid-tile>
                <mat-form-field>
                  <textarea matInput placeholder="Content" formControlName="content"></textarea>
                </mat-form-field>
              </mat-grid-tile>
              <mat-grid-tile>
                <mat-form-field>
                  <input matInput placeholder="Category" formControlName="category">
                </mat-form-field>
              </mat-grid-tile>
            </mat-grid-list>
            <button type="submit" [disabled]="!postForm.form.valid" mat-raised-button color="primary">Save Post</button>
          </form>
          <br>

          <mat-spinner *ngIf="submitted" mode="indeterminate"></mat-spinner>
          <br>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>