<div class="row container">

  <table class="table table-striped">
    <tr>
      <th>From</th>
      <th>Date</th>
      <th>subject</th>
      <th>Message</th>
      <th></th>
    </tr>

    <tr *ngFor="let msg of messages">
      <td>
        <span>{{msg.sender.account.username}}</span>
      </td>
      <td>{{msg.sendDate}}</td>
      <td>{{msg.subject}}</td>
      <td>{{msg.body}}</td>
      <td>
        <button *ngIf="!msg.responded" class="btn btn-default" (click)="respond(msg)">Respond</button>
        <div *ngIf="msg.responded">Already responded</div>
      </td>
    </tr>
    <tr *ngIf="responding">
      <td colspan="5">
        <fieldset class="search-fs">
          <legend class="search-fs-legend">Response: </legend>
          <label for="message">Re: </label>
          <input type="text" class="form-control" disabled [(ngModel)]="selectedMessage.subject">
          <label for="message">Response body: </label>
          <textarea class="form-control" name="message" id="message" cols="30" rows="2"
            [(ngModel)]="response.body"></textarea>
          <button class="btn btn-success send-btn" (click)="send()">Send</button>
        </fieldset>
      </td>
    </tr>
    <tr *ngIf="messages.length == 0">
      <td>No message available</td>
    </tr>
  </table>

</div>